html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
strong, em, i { font-style: normal; font-weight: normal; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
body { font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", "Droid Sans Fallback", SimSun, sans-serif; background: #fff; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }
html,body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
#app {
  height: 100vh;
}
.main {
  height: 100%;
  background: url('https://api.paugram.com/wallpaper/');
  background-size: 100% 100%;
}
.main-view {
  height: calc(100vh - 61px);
}
.search-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .search {
    max-width: 400px;
    padding: 8px;
    padding-left: 16px;
    border-radius: 40px;
    background-color: rgba(0,0,0,.65);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s;
    z-index: 99;
    input {
      flex: 1;
      padding-right: 15px;
      color: white;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 22px;
    }
  }
}


.list {
    padding: 16px 0 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1356px;
    margin: 0 auto;
    &-item {
      width: 210px;
      height: 294px;
      margin-right: 16px;
      margin-top: 16px;
      position: relative;
      animation-name: list-item;
      animation-duration: .4s;
      animation-fill-mode: backwards;
      cursor: pointer;
      
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      img {
        height: 100%;
        width: 100%;
        display:block;
        border-radius: 4px;
        border: none;
        transition: all .3s;
      }
      .list-item-title {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
  }
}


.video-info-wrap {
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  .video-info-cover {
    width: 242px;
    .video-info-cover__iamge {
      border-radius: 2px;
      width: 100%;
    }
  }
  .video-info-more {
    flex: 1;
    padding: 0 16px;
  }
  .video-info {
    margin-bottom: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    .video-info__title {
      font-size: 2rem;
    }
    .video-info-list {
      flex: 1;
      max-height: 340px;
      overflow-y: auto;
      &:after {
          content: "";
          display: block;
          visibility: hidden;
          height: 0;
          clear: both;
          font-size: 0;
      }
    }
    .video-info-list-item {
      max-width: 242px;
      height: 24px;
      line-height: 24px;
      margin-left: 8px;
      margin-bottom: 8px;
      padding: 0 8px;
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.active {
        background:salmon;
        color: white;
        border-radius: 2px;
      }
    }
  }
}

.video-wrap {
  max-width: 1984px;
  min-width: 988px;
  margin: 20px 20px 0 0;
  #my-video {
    max-width: 100%;
  }
  .vjs-tech {
    max-width: 100%;
  }
}

@keyframes list-item {
  0% {
    opacity: 0;
    transform: translateY(10px);
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    
  }
}


/* 设备宽度大于 320px 小于 640px */
@media all and (min-width:320px) and (max-width:640px) {
    .list {
      .list-item {
        width: 49%;
        margin-right: 1%;
      }
    }
}

.tabs-wrap {
  padding: 20px;
}